.header-wrapper {
  background-color: white;
  position: fixed;
  padding: 10px 0px;
  top: 0;
  width: 100%;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
  z-index: 2;
}

.chats-body {
  padding: 10px 0px;
  background-image: url("../images/background_2.jpg");
  background-size: cover;
  min-height: 100vh;
  padding-top: 100px;
  min-height: 100vh;
  margin-bottom: 100px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chat__write-container {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: space-between;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0px;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in, border-radius 0.5s ease-in,
    transform 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-50px);
  border-radius: 40px;

  animation: pulse 1s linear forwards;
  animation-delay: 0.4s;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write-column input:focus {
  outline: none;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.incoming-message {
  align-self: flex-start;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming-message .message__avatar {
  width: 40px;
  height: 40px;
  border-radius: 43%;
  margin-right: 15px;
  border: 3px solid white;
  overflow: hidden;
  background-color: white;
}

.incoming-message .message__avatar:hover {
  animation: spin 1s linear infinite;
}
.sent-message {
  align-self: flex-end;
}

.message .message__bubble {
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  display: block;
}

.incoming-message .message__author {
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.incoming-message .message__bubble {
  border-top-left-radius: 0px;
}

.sent-message .message__bubble {
  border-top-right-radius: 0px;
}

@keyframes msgAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.incoming-message {
  animation: msgAnim 0.7s ease-out forwards;
}
.sent-message {
  animation: msgAnim 0.7s ease-out forwards;
}
